body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: black;
  font-family: Arial, sans-serif;
}

#game-container {
  position: relative;
  width: 100%;
  max-width: 1920px;
  height: 1080px;
  background: url('./assets/background.png') no-repeat center center;
  background-size: cover;
}

#forest-container {
  position: relative;
  width: 100%;
  max-width: 1920px;
  height: 1080px;
  background: url('./assets/forest_background.png') no-repeat center center;
  background-size: cover;
}

#map-container {
  position: relative;
  width: 100%;
  max-width: 1920px;
  height: 1080px;
  background: url('./assets/map_background.png') no-repeat center center fixed;
  background-size: cover; /* Фон будет покрывать весь контейнер */
  background-attachment: fixed;  
}


#cemetery-container {
  position: relative;
  width: 100%;
  max-width: 1920px;
  height: 1080px;
  background: url('./assets/cemetery_background.png') no-repeat center center;
  background-size: cover;
}