/* map.css */

/* Контейнер для кнопок (можно оставить пустым или использовать для общего позиционирования) */
.map-buttons-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Скрываем все, что выходит за пределы контейнера */
}

/* Кнопка леса */
.forest-button {
  position: absolute;
  width: 900px; /* Ширина кнопки */
  height: 600px; /* Высота кнопки */
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url('./assets/forest_button.png');
  bottom: -4%; /* Отступ от верхней части экрана */
  left: 28%; /* Отступ от левой части экрана */
  overflow: hidden; /* Скрываем все, что выходит за пределы контейнера */
}

.forest-button:hover {
  transform: scale(1.01);
  transition: transform 0.2s;
}

/* Кнопка кладбища */
.cemetery-button {
  position: absolute;
  width: 540px; /* Ширина кнопки */
  height: 600px; /* Высота кнопки */
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url('./assets/cemetery_button.png');
  bottom: 11%; /* Отступ от нижней части экрана */
  right: -9px; /* Отступ от правой части экрана */
  overflow: hidden; /* Скрываем все, что выходит за пределы контейнера */
}

.cemetery-button:hover {
  transform: scale(1.01);
  transition: transform 0.2s;
}

/* Кнопка Древних руин */
.ancienttemple-button {
  position: absolute;
  width: 480px; /* Ширина кнопки */
  height: 600px; /* Высота кнопки */
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url('./assets/ancienttemple_button.png');
  clip-path: polygon(13.89% 90.68%,1.82% 84.04%,0.00% 63.64%,13.89% 50.70%,33.87% 36.00%,49.18% 34.01%,63.55% 17.56%,63.93% 0.12%,80.81% 0.37%,94.19% 16.75%,100.00% 26.80%,98.74% 79.63%,91.24% 85.06%,82.56% 82.92%,75.42% 70.29%,64.81% 75.84%,63.18% 93.05%,52.15% 96.26%,38.09% 91.23%); /* Пример произвольной формы */
  bottom: 52%; /* Отступ от нижней части экрана */
  right: -10px; /* Отступ от правой части экрана */
  overflow: hidden; /* Скрываем все, что выходит за пределы контейнера */
}

.ancienttemple-button:hover {
  transform: scale(1.01);
  transition: transform 0.2s;
}

/* Кнопка замка */
.castle-button {
  position: absolute;
  width: 345px; /* Ширина кнопки */
  height: 451px; /* Высота кнопки */
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url('./assets/castle_button.png');
  bottom: 25%; /* Отступ от нижней части экрана */
  left: 233px; /* Отступ от правой части экрана */
  overflow: hidden; /* Скрываем все, что выходит за пределы контейнера */
}

.castle-button:hover {
  transform: scale(1.01);
  transition: transform 0.2s;
}

/* Кнопка замка */
.abandonedcastle-button {
  position: absolute;
  width: 488px; /* Ширина кнопки */
  height: 374px; /* Высота кнопки */
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url('./assets/abandonedcastle_button.png');
  clip-path: polygon(13.79% 0.00%,98.74% 0.00%,88.87% 21.49%,86.14% 41.01%,72.79% 59.19%,57.63% 67.97%,47.41% 88.39%,38.73% 96.22%,26.86% 94.29%,16.26% 57.15%,6.49% 42.31%,1.82% 28.41%); /* Пример произвольной формы */
  bottom: 770px; /* Отступ от нижней части экрана */
  right: 203px; /* Отступ от правой части экрана */
  overflow: hidden; /* Скрываем все, что выходит за пределы контейнера */
}

.abandonedcastle-button:hover {
  transform: scale(1.01);
  transition: transform 0.2s;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Убедитесь, что body и html занимают 100% высоты */
}

/* Общий стиль текста для всех кнопок */
.map-buttons-container button {
  font-size: 35px; /* Размер текста */
  font-weight: bold; /* Жирность текста */
  color: #d2b48c; /* Белый текст */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Тень текста */
  text-transform: capitalize; /* Преобразует первую букву в заглавную */
  text-align: center; /* Выравнивание текста */
}

/* Стили текста для кнопки леса */
.forest-button {
  font-size: 35px; /* Индивидуальный размер текста для кнопки леса */
  color: #32cd32; /* Зеленый цвет текста */
}

/* Стили текста для кнопки кладбища */
.cemetery-button {
  font-size: 35px; /* Индивидуальный размер текста для кнопки кладбища */
  color: #8b0000; /* Красный цвет текста */
}

/* Стили текста для кнопки замок */
.castle-button {
  font-size: 35px; /* Индивидуальный размер текста для кнопки замка */
  color: #8b0000; /* Красный цвет текста */
}