/* styles.css */
#player-attack-log {
    position: relative;
    bottom: 5px;
    left: 400px;
    z-index: 1110;    
	font-size: 34px;
    flex-direction: column; /* Обычный порядок */
    align-items: flex-start; /* Выравнивание сообщений слева */    
    flex-wrap: nowrap; /* Сообщения отображаются только в одну строку */    
	color: red;

}

.damage-log {
	position: absolute;
    padding: 5px 10px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    opacity: 0; /* Изначально скрываем */    
    animation: slideDownFadeIn 0.4s ease-out forwards, slideDownFadeOut 0.3s ease-in 0.7s forwards;
    white-space: nowrap; /* Запрет на перенос текста */
	left: 400px;
	bottom: 90px;
	z-index: 1100; /* Обеспечиваем видимость поверх других элементов */
}

/* Анимация появления сверху вниз */
@keyframes slideDownFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Анимация исчезновения вниз */
@keyframes slideDownFadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(50px);
    }
}